
header a {
    color: white;
    font-size: 30px;
    cursor: crosshair;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}
header {
    background-color: #00c8ff;
    text-align:center;
    opacity: 0.7;


}
header .box {
    background-color: #0447cc;
    opacity: 0.6;
    border-radius: 50px;
    padding: 10px;

}
header .box:hover {
    background-color: #000863;
    flex-grow: 1.5;

}